.container {
  background: #1b2634;
  border-radius: 5px;
  padding: 20px 10px;
}
.dropdown {
  border-radius: 5px;
  width: 180px;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  margin-left: 5px;
  display: flex;
  font-weight: bold;

  .arrow-icon {
    width: 12px;
    height: 8px;
    transform: rotate(180deg);
    margin-left: 5px;
  }

  .dropItem {
    background: #6576fe;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 8px;
    border-radius: 5px;
    color: #fff;
  }
  .selectedItem {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 3px;
    cursor: pointer;
    background-color: #253141;
    padding: 5px 8px;
    border-radius: 5px;
    width: 100px;
  }
}
.dropdownBody {
  position: absolute;
  z-index: 999;
  cursor: pointer;
  background: #253141;
  padding: 4px 6px;
  width: 80%;
  border-radius: 5px;
  top: 40px;

  .item {
    display: flex;
    align-items: center;
    margin: 1px 0;
    padding: 2px 5px;
    &:hover {
      color: #fff;
    }
  }
}
