.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #6466f1;
  margin: 1px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -25px;
}
